In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("train1.csv")
x = data.drop('SalePrice', axis=1)
y = data.loc[:, 'SalePrice']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [3]:
data

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,6,1969,1969,663,663,1352,1,7,1,299,158000,1,0,1
1,6,1920,1950,1012,1012,1012,1,6,1,308,118400,1,0,1
2,5,1910,2006,1022,1022,1022,1,4,1,280,85000,1,0,1
3,5,1973,1973,1656,1656,1656,2,8,2,506,135000,1,0,1
4,6,1978,1978,918,918,1683,2,7,2,440,172500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6,2000,2000,959,959,1671,2,7,2,472,173000,1,1,1
761,7,2002,2002,1459,1459,1459,2,6,2,527,192000,0,1,0
762,5,1955,1990,864,864,864,1,5,2,572,115000,1,0,1
763,5,1956,1956,1048,1048,1048,1,6,1,286,135000,1,0,1
764,7,2006,2007,1258,1402,1402,0,7,3,648,194201,0,1,0

In [4]:
x

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,ExterQual_TA,Foundation_PConc,KitchenQual_TA
0,6,1969,1969,663,663,1352,1,7,1,299,1,0,1
1,6,1920,1950,1012,1012,1012,1,6,1,308,1,0,1
2,5,1910,2006,1022,1022,1022,1,4,1,280,1,0,1
3,5,1973,1973,1656,1656,1656,2,8,2,506,1,0,1
4,6,1978,1978,918,918,1683,2,7,2,440,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6,2000,2000,959,959,1671,2,7,2,472,1,1,1
761,7,2002,2002,1459,1459,1459,2,6,2,527,0,1,0
762,5,1955,1990,864,864,864,1,5,2,572,1,0,1
763,5,1956,1956,1048,1048,1048,1,6,1,286,1,0,1
764,7,2006,2007,1258,1402,1402,0,7,3,648,0,1,0

In [5]:
y

0      158000
1      118400
2       85000
3      135000
4      172500
        ...
760    173000
761    192000
762    115000
763    135000
764    194201
Name: SalePrice, Length: 765, dtype: int64

In [6]:
linear_reg = LinearRegression()
ridge_reg = Ridge(alpha=0.05, normalize=True)

In [7]:
linear_reg.fit(x_train, y_train)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.05, normalize=True)

In [8]:
linear_pred = linear_reg.predict(x_test)
ridge_pred = ridge_reg.predict(x_test)

In [9]:
linear_mse = mean_squared_error(y_test, linear_pred)
ridge_mse = mean_squared_error(y_test, ridge_pred)

In [10]:
print(linear_mse)
print(ridge_mse)

3434334289.3307624
3235184468.0677977